{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GoJainYatra - Book Dharamshalas online</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
        <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
        {% block stylesheet %} {% endblock %}
    </head>
    <body>
      
        <nav class="navbar" style="background-color: white; padding-left: 55px;">
            <a class="navbar-brand" href="{% url 'home' %}" >
                <img src = "{% static 'images/logo.png' %}" alt="logo">
            </a>
        </nav>
        <!--<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #d73c2a;">-->
        <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">    
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% block navbar_add %} {% endblock %}
                </ul>
                {% if user.is_authenticated %}
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                        <a class="dropdown-item" href="{% url 'user_bookings' %}">My Bookings</a>
                        <a class="dropdown-item" href="{% url 'user_vlogs' %}">My Vlogs</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                      </div>
                    </li>
                    
                  </ul>
                {% else %}
                  <form class="form-inline ml-auto">
                      <button type="button" class="btn ml-2" style="background-color: #71bcbc"><a href="{% url 'login' %}" style="color:black;">Log in</a></button>
                      <button type="button" class="btn ml-2" style="background-color: #bc7171"><a href="{% url 'signup' %}" style="color:black;">Sign up</a></button>
                  </form>
                {% endif %}
            </div>
        </nav>

        {% block content %} {% endblock %}
        
        <footer style="width:100%;">
            <div class="container-fluid bg-primary py-3">
           <div class="container">
             <div class="row">
               <div class="col-md-7">
                   <div class="row py-0">
                 <div class="col-sm-1 hidden-md-down">
                     <a class="bg-circle bg-info" href="{% url 'contact_us' %}">
                       <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                     </a>
                   </div>
                   <div class="col-sm-11 text-white">
                       <div><h4>  Contact</h4>
                           <p>   Go<span class="header-font">Jain</span>Yatra<span class="header-font">.com</span></p>
                       </div>
                   </div>
                   </div>
               </div>
               <div class="col-md-5">
                 <div class="d-inline-block">
                   <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                     <a href="https://www.facebook.com/GoJainYatra/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
               </a>
                   </div>
                   <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                     <a href="https://twitter.com/">
                       <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                   </div>
       
                   <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                     <a href="https://www.linkedin.com/company/">
                       <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                   </div>
                   <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                     <a href="https://www.google.com/">
                       <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           </div>
       </footer>
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block extra_scripts %} {% endblock %}
    </body>
</html>
