{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
{% endblock %}

{% block navbar_add %}
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_dharamshala' %}">Dharamshalas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'vlogs' %}">Vlogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
    </li>
{% endblock %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'home' %}" style="color:black;">Home</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'shala_info' shala.name_without_space %}" style="color:black;">{{shala.name_with_space}}</a></li>
      <li class="breadcrumb-item active">Reqeuset Provisional Booking</li>
    </ol>
  </div>
  <div class="d-flex justify-content-center" id="myline">
    <h2>{{shala.name_with_space}}</h2>
  </div>
  <div class="d-flex justify-content-center">{{shala.description}}</div>
  
  <div class="container" style="font-family:'Oxygen'; padding-top:10px;">
    <h4>Fill the form below, and a person from Team GoJainYatra will call you on your given mobile number.</h4>
  </div>
  <div class="d-flex justify-content-center" style="padding-top:30px;padding-bottom:30px;">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="row">
        <div id='form-errors'>{{ form_errors }}</div>
        <div class="col-sm-12 col-md-6">
          {{form.First_Name|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6">
            {{form.Last_Name|as_crispy_field}}
        </div>
      </div>
      {{form.email_id|as_crispy_field}}
      {{form.phone_no|as_crispy_field}}
      <div class="row">
        <div class="col-sm-12 col-md-6 datepicker" data-date-format="dd/mm/yyyy">
          {{form.checkin_date|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 datepicker" data-date-format="dd/mm/yyyy">
          {{form.checkout_date|as_crispy_field}}
        </div>
      </div>
      <div>{{ form|as_crispy_errors }}</div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          {{form.room_type|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6" style="padding-top:25px;">
            <button type="button" class="btn btn-info" style="display:inline-block;vertical-align:middle;" onclick="myFunction()">See available room type</button>
        </div>
      </div>
      <div class="row" id="myid" style="display:none; background-color: rgb(233, 236, 239); padding-top:5px;padding-left:10px;margin-top:5px;">
          <p>Please write only "AC" or "Non-AC" or "Hall", etc.</p>
          <p>Rooms in this Dharamshala:</p>
          <ul>
            {% if shala.rooms_type1 %}
              <li>
                {{shala.rooms_type1}}
              </li>
            {% endif %}
            {% if shala.rooms_type2 %}
              <li>
                {{shala.rooms_type2}}
              </li>
            {% endif %}
            {% if shala.rooms_type3 %}
              <li>
                {{shala.rooms_type3}}
              </li>
            {% endif %}
            {% if shala.rooms_type4 %}
              <li>
                {{shala.rooms_type4}}
              </li>
            {% endif %}
            {% if shala.rooms_type5 %}
              <li>
                {{shala.rooms_type5}}
              </li>
            {% endif %}
            {% if shala.rooms_type6 %}
              <li>
                {{shala.rooms_type6}}
              </li>
            {% endif %}
            {% if shala.rooms_type7 %}
              <li>
                {{shala.rooms_type7}}
              </li>
            {% endif %}
            {% if shala.rooms_type8 %}
              <li>
                {{shala.rooms_type8}}
              </li>
            {% endif %}
            {% if shala.rooms_type9 %}
              <li>
                {{shala.rooms_type9}}
              </li>
            {% endif %}
            {% if shala.rooms_type10 %}
              <li>
                {{shala.rooms_type10}}
              </li>
            {% endif %}
            {% if shala.rooms_type11 %}
              <li>
                {{shala.rooms_type11}}
              </li>
            {% endif %}
            {% if shala.rooms_type12 %}
              <li>
                {{shala.rooms_type12}}
              </li>
            {% endif %}
            {% if shala.rooms_type13 %}
              <li>
                {{shala.rooms_type13}}
              </li>
            {% endif %}
            {% if shala.rooms_type14 %}
              <li>
                {{shala.rooms_type14}}
              </li>
            {% endif %}
            {% if shala.rooms_type15 %}
              <li>
                {{shala.rooms_type15}}
              </li>
            {% endif %}
            
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          {{form.Number_of_adults|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6">
            {{form.Number_of_children|as_crispy_field}}
        </div>
      </div>
      
      
      <button type="submit" class="btn btn-success" style="margin-top:10px;">Request Booking</button>
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'image.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $(".datepicker").datepicker({
      format: 'DD/MM/YYYY',
    });
  });
</script>
{% endblock %}