{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
   <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
{% endblock %}

{% block navbar_add %}
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_dharamshala' %}">Dharamshalas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'vlogs' %}">Vlogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}" style="color:black;">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'password_change' %}" style="color:black;">Password Change</a></li>
    <li class="breadcrumb-item active">Success</li>
  </ol>
</div>
<div class="container" style="padding-bottom:20px;">
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Your password has been changed!
    </div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
</div>
{% endblock %}