{% extends 'base.html' %}

{% load static %}
{% load tz %}

{% block stylesheet %}
   <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
{% endblock %}

{% block navbar_add %}
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_dharamshala' %}">Dharamshalas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'vlogs' %}">Vlogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'home' %}" style="color:black;">Home</a></li>
      <li class="breadcrumb-item active">All bookings</li>
      
    </ol>
</div>

<div class="container" style="padding-top:10px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p>Choose the booking for which you want to generate the voucher</p>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Booking for Dharamshala</th>
            <th>Booked by</th>
            <th>Checkin Date</th>
            <th>Checkout Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
            <tr>
                <td>
                    {% with hour=booking.booked_at|time:"H"%}
                        {% with min=booking.booked_at|time:"i"%}
                            <a href="{%url 'voucher_form' booking.First_Name booking.Last_Name booking.booked_at.year booking.booked_at.month booking.booked_at.day hour min%}" 
                            style="color:black;">
                                {{booking.dharamshala.name_with_space}}
                                <small class="text-muted d-block">Booked on : {{booking.booked_at}}</small>
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
                <td>
                    {% with hour=booking.booked_at|time:"H"%}
                        {% with min=booking.booked_at|time:"i"%}
                            <a href="{%url 'voucher_form' booking.First_Name booking.Last_Name booking.booked_at.year booking.booked_at.month booking.booked_at.day hour min%}" 
                            style="color:black;">
                                {{booking.First_Name}} {{booking.Last_Name}}
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
                <td class="align-middle">
                    {% with hour=booking.booked_at|time:"H"%}
                        {% with min=booking.booked_at|time:"i"%}
                            <a href="{%url 'voucher_form' booking.First_Name booking.Last_Name booking.booked_at.year booking.booked_at.month booking.booked_at.day hour min%}" style="color:black;">
                                {{booking.checkin_date}}
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
                <td class="align-middle">
                    {% with hour=booking.booked_at|time:"H"%}
                        {% with min=booking.booked_at|time:"i"%}
                            <a href="{%url 'voucher_form' booking.First_Name booking.Last_Name booking.booked_at.year booking.booked_at.month booking.booked_at.day hour min%}" style="color:black;">
                                {{booking.checkout_date}}
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
                <td>
                    {% if booking.status == '1' %}
                        <span style="color:red;">Waiting for confirmation</span>
                    {% else %}
                        <span style="color:green;">Confirmed</span>
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

