{% extends 'base.html' %}

{% load static %}
{% load tz %}   
{% block stylesheet %}
   <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
{% endblock %}

{% block navbar_add %}
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'list_dharamshala' %}">Dharamshalas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'vlogs' %}">Vlogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'home' %}" style="color:black;">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'shala_info' shala.name_without_space %}" style="color:black;">{{shala.name_with_space}}</a></li>
      <li class="breadcrumb-item active">Vlogs List</li>
    </ol>
</div>

<div class="container" style="padding-top:10px;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Vlog written by</th>
            <th>Written on Date</th>
          </tr>
        </thead>
        <tbody>
          {% for vlog in shala.get_all_vlogs %}
            <tr>
                <td>
                    {% with hour=vlog.last_updated|time:"H"%}
                        {% with min=vlog.last_updated|time:"i"%}
                            <a href="{% url 'shala_vlog_descp' shala.name_without_space vlog.last_updated.year vlog.last_updated.month vlog.last_updated.day hour min vlog.writer %}" style="color:black;">
                                {{vlog.writer}}
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
                <td>
                    {% with hour=vlog.last_updated|time:"H"%}
                        {% with min=vlog.last_updated|time:"i"%}
                            <a href="{% url 'shala_vlog_descp' shala.name_without_space vlog.last_updated.year vlog.last_updated.month vlog.last_updated.day hour min vlog.writer %}" style="color:black;">
                                {{vlog.last_updated}}
                            </a>
                        {% endwith %}
                    {% endwith %}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'image.js' %}"></script>
{% endblock %}
