<div style="text-align:center;">
    <h2 style="display:inline-block;">Booking Confirmantion Voucher</h2><br>
    <h4>{{voucher.today_date}}</h4><br>
    <h4>Jai Jinendra {{voucher.yatri_name}}!<br>
        Thank you for booking. Details of your confirmed booking are as follows.
    </h4>
</div>

<table align="center" style="width:70%;border:1px solid black;">
    <tr style="background:cornflowerblue;">
        <th>{{voucher.type_of_dharamshala_or_bunglow_or_sanatorium}} details</th>
        <th></th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>{{voucher.type_of_dharamshala_or_bunglow_or_sanatorium}} name :</td>
        <td>{{voucher.name_of_dharamshala_or_bunglow_or_sanatorium}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Address :</td>
        <td>{{voucher.address}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Phone :</td>
        <td>{{voucher.phone_of_dharamshala_or_bunglow_or_sanatorium}}</td> 
    </tr>
    <tr style="background:cornflowerblue;">
        <th>Yatri details</th>
        <th></th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Yatri name :</td>
        <td>{{voucher.yatri_name}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Email id :</td>
        <td>{{voucher.yatri_email}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Contact no :</td>
        <td>{{voucher.yatri_phone}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>No of Yatris :</td>
        <td>{{voucher.no_of_yatris}}</td> 
        </tr>
    <tr style="background:cornflowerblue;">
        <th>Stay details</th>
        <th></th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>No. and type of rooms :</td>
        <td>{{voucher.no_and_type_of_room}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Checkin Date :</td>
        <td>{{voucher.checkin_date}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Checkout Date :</td>
        <td>{{voucher.checkout_date}}</td> 
    </tr>
    <tr style="background:cornflowerblue;">
        <th>Payment details</th>
        <th></th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Total days of stay :</td>
        <td>{{voucher.total_days_of_stay}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Amount Received :</td>
        <td>{{voucher.amount_received}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Booking Number :</td>
        <td>{{voucher.booking_number}}</td> 
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <td>Bank Ref. No. :</td>
        <td>{{voucher.bank_ref_no}}</td> 
    </tr>
</table>